<mat-card class="card">
  <mat-card-content>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header (contextmenu)="onRightClickFolder($event, bucket1)">
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
              <mat-icon class="header-icon">folder</mat-icon>
              <span class="pasta-name">
                {{bucket1.nome}}
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pasta [pasta]="bucket1"></app-pasta>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
              <mat-icon class="header-icon">folder</mat-icon>
              <span class="pasta-name">
                {{bucket1.nome}}
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pasta [pasta]="bucket1"></app-pasta>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<div #matMenuTriggerFolder="matMenuTrigger"
  class="bucket-menu-trigger"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="menuPasta.menu"
></div>
<app-menu-pasta #menuPasta></app-menu-pasta>
