/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-body {
  padding: 0 0 16px 16px !important;
}

.mat-expansion-panel-header {
  padding: 0 24px 0 16px !important;
}

.header-icon {
  color: rgba(255,255,255,.5);
}

.pasta-name {
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03125em;
}

.bucket-menu-trigger {
  visibility: hidden;
  position: fixed
}
